{% extends 'base_teacher.html' %}

{% block title %}AI Recoomendation - CDCMS{% endblock %}

{% block content %}
<!-- Welcome Section -->
<div class="welcome-section">
    <h3 class="mb-0">Welcome to Recommendation</h3>
</div>

<div class="container-fluid px-4">
    <table class="table table-bordered mt-3">
        <thead>
            <tr>
                <th class="bg-primary text-white" scope="col">Student ID</th>
                <th class="bg-primary text-white" scope="col">Full Name</th>
                <th class="bg-primary text-white" scope="col">Recommendation</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Student ID</td>
                <td>Mark Martin</td>
                <td>Desription here</td>
        </tbody>
    </table>
</div>

{% endblock %}

