{% extends 'base_teacher.html' %}

{% block title %}Announcement - CDCMS{% endblock %}

{% block content %}
<!-- Welcome Section -->
<div class="welcome-section d-flex align-items-center justify-content-between">
    <h3 class="mb-0">Announcement</h3>
    <a href="{% url 'add_announcement' %}" class="btn btn-primary btn-sm"><i class="bi bi-plus-circle"></i> Add Announcement</a>
</div>

<div class="container-fluid px-4">
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-sm mt-3">
            <thead class="">
                <tr class="text-center table-head-columns">
                    <th class="bg-primary text-white" scope="col">Picture</th>
                    <th class="bg-primary text-white" scope="col">Title</th>
                    <th class="bg-primary text-white" scope="col">Date and Time</th>
                    <th class="bg-primary text-white" scope="col">Description</th>
                    <th class="bg-primary text-white" scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for announcement in announcements %}
                    <tr>
                        <td>
                            {% if announcement.picture %}
                                <img src="/asEASdwaSEAdWas/{{ announcement.picture}}" alt="{{ announcement.title }}" width="100">
                            {% else %}
                                No Picture
                            {% endif %}
                        </td>
                        <td>{{ announcement.title }} </td>
                        <td>{{ announcement.upload_date }}</td>
                        <td>{{ announcement.description }}</td>
                        <td>
                            <a href="{% url 'update_announcement' announcement.id %}" class="btn btn-primary btn-sm"><i class="bi bi-pencil-square"></i> Update</a>
                            <a href="{% url 'delete_announcement' announcement.id %}" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i> Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}

