{% extends 'base_teacher.html' %}

{% block title %}Announcement - CDCMS{% endblock %}

{% block content %}
<!-- Welcome Section -->
<div class="welcome-section d-flex align-items-center justify-content-between">
    <h3 class="mb-0">Announcement</h3>
    <button class="btn btn-primary btn-sm"><i class="bi bi-plus-circle"></i> Add Announcement</button>
</div>

<div class="container-fluid px-4">
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-sm">
            <thead class="">
                <tr class="text-center table-head-columns">
                    <th class="bg-primary text-white" scope="col">Picture</th>
                    <th class="bg-primary text-white" scope="col">Title</th>
                    <th class="bg-primary text-white" scope="col">Date and Time</th>
                    <th class="bg-primary text-white" scope="col">Description</th>
                    <th class="bg-primary text-white" scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>test</td>
                    <td>test</td>
                    <td>test</td>
                    <td>test</td>
                    <td>test</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}

