{% extends 'base_teacher.html' %}

{% block title %}Guardian Management - CDCMS{% endblock %}

{% block content %}
<!-- Welcome Section -->
<div class="welcome-section">
    <h3 class="mb-0">Guardian Management</h3>
</div>

<div class="container-fluid px-4">
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-sm mt-3">
            <thead class="">
                <tr class="text-center table-head-columns">
                    <th class="bg-primary text-white" scope="col">Student Name</th>
                    <th class="bg-primary text-white" scope="col">Relationship</th>
                    <th class="bg-primary text-white" scope="col">Guardian Name</th>
                    <th class="bg-primary text-white" scope="col">Contact Number</th>
                    <th class="bg-primary text-white" scope="col">Email</th>
                    <th class="bg-primary text-white" scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for guardian in guardians %}
                    <tr>
                        <td>{{ guardian.student.firstName }} {{ guardian.student.lastName }}</td>
                        <td>{{ guardian.relationship }}</td>
                        <td>{{ guardian.firstName }} {{ guardian.lastName }}</td>
                        <td>{{ guardian.contact_number }}</td>
                        <td>{{ guardian.email }}</td>
                        <td>
                            <a href="{% url 'update_guardian' guardian.id %}" class="btn btn-primary btn-sm">
                                <i class="bi bi-pencil-square"></i> Update
                            </a>
                
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="6" class="text-center">No guardian records found.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}

