{% extends 'base_teacher.html' %}

{% block title %}Student Management - CDCMS{% endblock %}

{% block content %}
<!-- Welcome Section -->
<div class="welcome-section">
    <h3 class="mb-0">Student Management</h3>
</div>

<div class="container-fluid px-4">
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-sm">
            <thead class="">
                <tr class="text-center table-head-columns">
                    <th class="bg-primary text-white" scope="col">Student I.D.</th>
                    <th class="bg-primary text-white" scope="col">Student Name</th>
                    <th class="bg-primary text-white" scope="col">Guardian</th>
                    <th class="bg-primary text-white" scope="col">Health History</th>
                    <th class="bg-primary text-white" scope="col">Student Schedule</th>
                    <th class="bg-primary text-white" scope="col">Requirements</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>test</td>
                    <td>test</td>
                    <td>test</td>
                    <td>test</td>
                    <td>test</td>
                    <td>test</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


{% endblock %}

