{% extends 'base_teacher.html' %}

{% block title %}Teacher Management - CDCMS{% endblock %}

{% block content %}
<!-- Welcome Section -->
<div class="welcome-section">
    <h3 class="mb-0">Teacher Management</h3>
</div>
<div class="container-fluid px-4">
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-sm">
            <thead class="">
                <tr class="text-center table-head-columns">
                    <th class="bg-primary text-white" scope="col">Position</th>
                    <th class="bg-primary text-white" scope="col">Teacher's Name</th>
                    <th class="bg-primary text-white" scope="col">Contact Number</th>
                    <th class="bg-primary text-white" scope="col">Schedule</th>
                    <th class="bg-primary text-white" scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>test</td>
                    <td>test</td>
                    <td>test</td>
                    <td>test</td>
                    <td>test</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}

