{% extends 'base_guardian.html' %}

{% load static %}

{% block title %}Guardian | Attendance{% endblock %}

{% block content %}
<div class="welcome-section">
    <h3 class="mb-0">Attendance</h3>
</div>

<div class="container-fluid px-4">
    <h4>Attendance for this Week</h4>
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-sm">
            <thead class="">
                <tr class="text-center table-head-columns">
                    <th class="bg-primary text-white" scope="col">Student ID</th>
                    <th class="bg-primary text-white" scope="col">Student Name</th>
                    <th class="bg-primary text-white" scope="col">Date</th>
                    <th class="bg-primary text-white" scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                {% for record in attendance_records %}
                    <tr >
                        <td class="px-2">{{ record.student__student_id }}</td>
                        <td>{{ record.student__lastName }}, {{ record.student__firstName }} {{ record.student__middleName }} </td>
                        <td>{{ record.date|date:"Y-m-d" }}</td>
                        <td>{{ record.status }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4" class="text-center">No attendance records found for this week.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
