{% extends 'base_guardian.html' %}
{% load static %}

{% block title %}Guardian | Requirements{% endblock %}

{% block content %}
<div class="welcome-section">
    <h3 class="mb-0">Requirements</h3>
</div>

<div class="container-fluid px-4">
  {% for key, value in requirements.items %}
    <div class="card mb-3 py-4">
        {% if value %}
            <img src="{{ value.url }}" class="card-img-top img-container img-fluid object-fit-cover rounded mx-auto" 
                style="height: 500px; width: 500px;" alt="{{ key }}">
        {% else %}
            <img src="{% static 'images/noDocument.jpg' %}" class="card-img-top img-container img-fluid object-fit-cover rounded mx-auto"
                style="height: 500px; width: 500px;" alt="No Document">
        {% endif %}
        
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center pe-5">
              <h5 class="card-title">{{ key }}</h5>
                {% if value %}
                    <a href="{% url 'add_requirement' student_id key %}" class="btn btn-warning">Update</a>
                {% else %}
                    <a href="{% url 'add_requirement' student_id key %}" class="btn btn-success">Add</a>
                {% endif %}
            </div>
        </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
